<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSPStudy_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/servletPractice/servlet/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServletByEclipse</display-name>
    <servlet-name>HelloServletByEclipse</servlet-name>
    <servlet-class>servlet.HelloServletByEclipse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServletByEclipse</servlet-name>
    <url-pattern>/HelloServletByEclipse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletByEclipse</display-name>
    <servlet-name>ServletByEclipse</servlet-name>
    <servlet-class>servlet.ServletByEclipse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletByEclipse</servlet-name>
    <url-pattern>/ServletByEclipse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>servlet.Servlet1</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>servlet.Servlet2</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>servlet.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pagingServlet</display-name>
    <servlet-name>pagingServlet</servlet-name>
    <servlet-class>servlet.pagingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pagingServlet</servlet-name>
    <url-pattern>/paging</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>GetInitParameterServlet</display-name>
    <servlet-name>GetInitParameterServlet</servlet-name>
    <servlet-class>servlet.GetInitParameterServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123456</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInitParameterServlet</servlet-name>
    <url-pattern>/servlet/GetInitParameterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>adminEmail</param-name>
    <param-value>emailTest@qq.com</param-value>
  </context-param>
  <context-param>
    <param-name>breed</param-name>
    <param-value>yellowDog</param-value>
  </context-param>
  <listener>
    <listener-class>listener.MyServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ListenerTester</display-name>
    <servlet-name>ListenerTester</servlet-name>
    <servlet-class>servlet.ListenerTester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerTester</servlet-name>
    <url-pattern>/ListenerTester</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FirstFilter</display-name>
    <filter-name>FirstFilter</filter-name>
    <filter-class>filter.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FirstFilter</filter-name>
    <url-pattern>/filter/index.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>ErrorFilter</display-name>
    <filter-name>ErrorFilter</filter-name>
    <filter-class>filter.ErrorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ErrorFilter</filter-name>
    <url-pattern>/filter/error.jsp</url-pattern>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/filter/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.MyHttpSessionListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <listener>
    <listener-class>listener.MyRequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>listener.MyServletContextAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>listener.MyHttpSessionAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>listener.MyHttpRequestAttributeListener</listener-class>
  </listener>
</web-app>