<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 将Mapper和对应的Dao绑定 -->
<mapper namespace="vip.doctordeng.bbs.dao.ForumDao">
    <sql id="defaultForumSql">
        forum_id,
        forum_name,
        forum_introduction,
        user_id,
        forum_parent_id,
        forum_status,
        prop1,
        prop2,
        prop3,
        prop4,
        prop5,
        prop6,
        prop7,
        prop8,
        prop9,
        prop10
    </sql>
    <sql id="insertForumSql">
        forum_name,
        forum_introduction,
        forum_parent_id,
        prop1,
        prop2,
        prop3,
        prop4,
        prop5,
        prop6,
        prop7,
        prop8,
        prop9,
        prop10
    </sql>

    <insert id="insertForum" parameterType="ForumEntity">
        INSERT INTO forum (<include refid="insertForumSql"/>)
        VALUES(
        #{forum_name},
        #{forum_introduction},
        #{forum_parent_id},
        #{prop1},
        #{prop2},
        #{prop3},
        #{prop4},
        #{prop5},
        #{prop6},
        #{prop7},
        #{prop8},
        #{prop9},
        #{prop10}
        )
    </insert>

    <update id="updateForumByCondition" parameterType="Map">
        UPDATE forum
        <set>
            <if test="forum_name != null and forum_name != '' ">forum_name=#{forum_name},</if>
            <if test="forum_introduction != null">forum_introduction=#{forum_introduction},</if>
            <if test="user_id != null and user_id != '' ">user_id=#{user_id},</if>
            <if test="forum_status != null and forum_status != '' ">forum_status=#{forum_status},</if>
            <if test="prop1 != null">prop1=#{prop1},</if>
            <if test="prop2 != null">prop2=#{prop2},</if>
            <if test="prop3 != null">prop3=#{prop3},</if>
            <if test="prop4 != null">prop4=#{prop4},</if>
            <if test="prop5 != null">prop5=#{prop5},</if>
            <if test="prop6 != null">prop6=#{prop6},</if>
            <if test="prop7 != null">prop7=#{prop7},</if>
            <if test="prop8 != null">prop8=#{prop8},</if>
            <if test="prop9 != null">prop9=#{prop9},</if>
            <if test="prop10 != null">prop10=#{prop10}</if>
        </set>
        WHERE forum_id = #{forum_id}
    </update>

    <select id="listForumByCondition" parameterType="Map" resultType="ForumEntity">
        SELECT
        <include refid="defaultForumSql"/>
        FROM forum
        <where>
            <if test="user_id != null">
                AND user_id = #{user_id}
            </if>
            <if test="forum_parent_id != null">
                AND forum_parent_id = #{forum_parent_id}
            </if>
            <if test="forum_id != null">
                AND forum_id = #{forum_id}
            </if>
            <if test="forum_status != null">
                AND forum_status = #{forum_status}
            </if>
            <if test="forum_name != null">
                AND forum_name = #{forum_name}
            </if>
            <if test="forum_introduction">
                <bind name="forumIntroduction" value=" '%' + forum_introduction + '%'" />
                AND forum_introduction LIKE #{forumIntroduction}
            </if>
            <if test="prop1 != null and prop1 != ''">
                AND prop1 = #{prop1}
            </if>
            <if test="prop2 != null and prop2 != ''">
                AND prop2 = #{prop2}
            </if>
            <if test="prop3 != null and prop3 != ''">
                AND prop3 = #{prop3}
            </if>
            <if test="prop4 != null and prop4 != ''">
                AND prop4 = #{prop4}
            </if>
            <if test="prop5 != null and prop5 != ''">
                AND prop5 = #{prop5}
            </if>
            <if test="prop6 != null and prop6 != ''">
                AND prop6 = #{prop6}
            </if>
            <if test="prop7 != null and prop7 != ''">
                AND prop7 = #{prop7}
            </if>
            <if test="prop8 != null and prop8 != ''">
                AND prop8 = #{prop8}
            </if>
            <if test="prop9 != null and prop9 != ''">
                AND prop9 = #{prop9}
            </if>
            <if test="prop10 != null and prop10 != ''">
                AND prop10 = #{prop10}
            </if>
            AND prop1 != '0'
        </where>
    </select>

    <select id="getForumCountByCondition" parameterType="Map" resultType="int">
        SELECT count(forum_id) FROM forum
        <where>
            <if test="forum_parent_id != null">
                AND forum_parent_id = #{forum_parent_id}
            </if>
            <if test="forum_id != null">
                AND forum_id = #{forum_id}
            </if>
            <if test="forum_status != null">
                AND forum_status = #{forum_status}
            </if>
            <if test="user_id != null">
                AND user_id = #{user_id}
            </if>
            <if test="forum_name != null">
                AND forum_name = #{forum_name}
            </if>
            AND prop1 != '0'
        </where>
    </select>

    <select id="getForumByCondition" parameterType="Map" resultType="ForumEntity">
        SELECT <include refid="defaultForumSql" /> FROM forum
        <where>
            <choose>
                <when test="forum_id != null">
                    AND forum_id = #{forum_id}
                </when>
                <otherwise>
                    AND forum_id = 0
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>