<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<package name="com.doctor.entity"/>
	</typeAliases>
	
	<plugins>
		<!-- <plugin interceptor="com.doctor.interceptor.PageInterceptor">
			<property name="test" value="aaa"/>
		</plugin> -->
		<plugin interceptor="com.doctor.interceptor.PageInterceptor"/>
	</plugins>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://119.29.223.16:3306/test?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false" />
				<property name="username" value="root" />
				<property name="password" value="denghuajie123" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/doctor/mapper/StudentMapper.xml"/>
		<mapper resource="com/doctor/mapper/GradeMapper.xml"/> 
		<mapper resource="com/doctor/mapper/TeacherMapper.xml" /> 
		<mapper resource="com/doctor/mapper/GradeMapper.xml" /> 
	</mappers>
</configuration>
